doctype html
html(lang="en")
  head
    title= title
    script(src='//ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js')
    script(src='/front-end.js')
    link(rel='stylesheet', type='text/css', href='/styles.css')
  body
    include ./includes/nav.pug
    p= message

    table
      thead
        th
        th iD
        th Board Moves
      tbody
        each game in games
          tr(id='game-' + game.id)
            td.del-td
              a.delete-link(href='#', id = 'delete-' + game.id, title='Delete') X
            td
              a(href='/games/' + game.id)= game.id
            td= game.board
