.container {
  border: 1px solid blue;
  width: 64px;  
  height: 64px;
}
.row {
  width: 64px;
  height: 22px;
  display: table-row;
}
.cell {
  display: table-cell;
  width: 20px;
  height: 20px;
  background-color: yellow;
  border: 1px solid blue;
  text-align: center;
}