.container {
  /*align-items: center;*/
  width: 128px;
  height: 128px;
}
.row {
  width: 25px;
  height: 25px;
  display: table-row;
}
.cell {
  display: table-cell;
  width: 35px;
  height: 35px;
  background-color: #D28549;
  border: 1px solid #1485CC;
  text-align: center;
}
